.section-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s-card {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0;
}

.s-card:nth-child(2) {
    flex-flow: row-reverse;
}

.s-card:nth-child(4) {
    flex-flow: row-reverse;
}

.s-card-img,
.s-card-content {
    margin: 0;
    padding: 0;
}

figure {
    width: 250px;
    height: 300px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 19px 19px 85px 19px;
    transform: rotate(10deg) scale(0.7);
    transition: .3s;
}

figure:hover {
    transform: rotate(0deg) scale(0.7);
}

figure img {
    width: 100%;
}

figcaption {
    font-size: 25px;
    text-align: center;
    color: #2c2c2c;
    margin-top: 5px;
}

figure:before,
figure:after {
    content: "";
    position: absolute;
    height: 55px;
    width: 180px;
    background-color: rgba(142, 142, 142, 0.6);
    transform: rotate(-40deg);
}

figure:before {
    top: 3px;
    left: -55px;
}

figure:after {
    bottom: 3px;
    right: -60px;
}

hr {
    border: .01px solid rgba(196, 196, 196, 0.5);
    margin: 0;
}